/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  	background: #999 !important;		
  	color: #fff;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color: #999 !important;	
  	text-decoration: none;
  	background-color: transparent !important;	
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.navbar .nav > .active > a:hover {
  	background: #999 !important;		
  	color: #fff !important;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}
.navbar .nav > li > a,
.navbar .nav > .active > a,
.navbar-brand{
  color:#FFF !important;
}
.navbar {
  	background: #456 !important;		
    
}


.carousel_img{
  height:120px;
  align:center;
  border-radius: 50%;
}

.social_buttons{
  font-size: 54px;
  color: white;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.first-slide{
  background-color: #345;
}
.second-slide{
  background-color: #022;
}
.third-slide{
  background-color: #066;
}


/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* Featurettes
------------------------- */




/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image{
  width:80%;
  height:200px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
.container.bg-color-green{
  background-color:#466;
  color: #FFF;
  padding-left:50px;
  padding-right:5px;
  margin-left:0px;
  margin-right:0px;
  border-right:0px;
  width:100%;
}
.container.bg-color-red{
  background-color:#833;
  color: #FFF;
  padding-left:50px;
  padding-right:50px;
  margin-left:0px;
  margin-right:0px;
  border-right:0px;
  width:100%;
}
.row {
  margin-bottom: 40px;
}


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 50px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }



@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/*

customize progress bars
*/

.progress {
  margin-bottom: 6px;
  background-color: transparent;
  border-radius: 11px;
  box-shadow: none;
  border: 1px solid #303030;
  padding: 3px;
  height: 26px;
}
.progress .progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

.progress-bar {
  font-size: 13px;
  background-color: #839f9a;
  box-shadow: none;
  border-radius: 11px;
  line-height: 18px;
  padding-left: 6px;
  text-align: left;
  font-weight: 300;
}

.progress-meter {
  min-height: 15px;
  border-bottom: 1px solid #303030;
}

.progress-meter > .meter {
  position: relative;
  float: left;
  min-height: 15px;
  border-width: 0px;
  border-style: solid;
  border-color: #303030;
}

.progress-meter > .meter-left {
  border-left-width: 1px;
}

.progress-meter > .meter-right {
  float: right;
  border-right-width: 1px;
}

.progress-meter > .meter-right:last-child {
  border-left-width: 1px;
}

.progress-meter > .meter > .meter-text {
  position: absolute;
  display: inline-block;
  bottom: -20px;
  width: 100%;
  font-size: 12px;
  color: #606060;
  text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
  text-align: right;
}

