@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.customize-icons{
    font-size:50px;
    color:#000;
}
a{
    color: #001b63;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-container {

    background-color: rgba(150,150,150,0.6);
    margin: 10px 30% 20px 30%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 1%;

}



.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 0px 0px;
    font-weight: bold;
}

html,
body {
    height: 100%;
    padding: 0px 0px 0px 0px;
    border: 0px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}
body {
    color: #000;
    font-family: 'Inconsolata',serif;
    text-align: center;
    text-shadow: 0 1px 3px rgba(255,255,255,.3);
}

/*BG images*/

.bg-rainy{
    background-image: url("../img/rainy-weather_00447154.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: auto;


}